@page "/fetchdata"
@using ForecastsBlazor.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather data</PageTitle>

<h1>Weather data</h1>

<p>This component demonstrates fetching data from a weather collection service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (C)</th>
                <th>Pressure (hPa)</th>
                <th>Humidity (%)</th>
                <th>Wind (m/s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.Main.Temperature</td>
                    <td>@forecast.Main.Pressure</td>
                    <td>@forecast.Main.Humidity</td>
                    <td>@forecast.Wind.Speed</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ForecastsCommon.JsonEntities.Weather[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var data = await ForecastService.GetForecastAsync();
        forecasts = data.ToArray();
    }
}
